<% provide(:title, current_user.name) %>

<div class="row">
  <h1>タスク詳細</h1>
  <div class="col-md-10 col-md-offset3">
    <table class="table table-bordered table-condensed" id="table-detail">
      <tr>
        <th class="col-md-3"><%= Task.humen_attribute_name :id %></th>
          <td class="col-md-9"><%= @task.id %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Task.humen_attribute_name :title %></th>
          <td class="col-md-9"><%= @task.title %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Task.humen_attribute_name :created_at %></th>
          <td class="col-md-9"><%= l(@task.created_at, format: :long) %></td>
      </tr>
       <tr>
        <th class="col-md-3"><%= Task.humen_attribute_name :updated_at %></th>
          <td class="col-md-9"><%= l(@task.updated, format: :long) %></td>
      </tr>
    </table>
  </div>
</div>